.dashboard {
  @extend .h-100, .overflow-scroll;

  // Temporary added
  .dashboard__btn-save {
    @extend .position-fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .dashboard__btn-test-add-item {
    @extend .position-fixed;
    bottom: 1rem;
    right: 5rem;
  }
}
