@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/react-grid-layout/css/styles.css';

// Global reset

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
